# providerのプロファイル名
aws_default_profile = "aws-stg"

# GitHubのデプロイ関連
github_repository_url = ""
github_token          = ""
github_branch_name    = "stg"

# db
db_name     = "db"
db_init_password = "password" # 初期パスワード
